<a href="https://colab.research.google.com/github/akosolapov77/-/blob/main/HomeWorkPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Задание 1
#Скачайте с сайта grouplens.org...movielens/ датасет любого размера. 
#Определите какому фильму было выставлено больше всего оценок 5.0.

import pandas as pd
ds = pd.read_csv('ml-latest-small/ratings.csv')
ds.head()
ds[ds['rating']==5.0]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [ ]:
#Задание 2
#По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
#категорий 4, 12 и 21 за период с 2005 по 2010 года. 
#Не учитывайте в расчетах отрицательные значения quantity.

import pandas as pd
summ=0
ds=pd.read_csv("power.csv")
ds2=ds[(ds['year']>=2005)&(ds['year']<=2010)&(ds['quantity']>0)]
ds3=ds2[ds2.category.isin([4,12,21])]
summ=ds3[ds3.country.str.contains('|'.join(['Lat','Lit','Est']))]['quantity'].sum()
print('суммарное потребление: {}'.format(summ))

суммарное потребление: 240580.0

In [ ]:
#Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
#Примеры страниц (необязательно брать именно эти):
#https://fortrader.org/quotes
#www.finanz.ru...om-vremeni

import pandas as pd
df = pd.read_html('https://fortrader.org/quotes')[0]

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  92.80        0.0           0.0        NaN
1       USDRUB Курс рубля к доллару  86.82        0.0           0.0        NaN